<div  class="row col-md-6" style="margin-top:100px;">
  <div class=" col-md-6">
    <ng-select [items]="countryList" placeholder="Country"
    bindLabel="name" 
    bindValue="id" 
     (change)="loadState()">
    </ng-select>
  </div>
  <div class=" col-6">
    <ng-select [items]="stateList" placeholder="State"
    bindLabel="name" 
    bindValue="id" 
     (change)="selectState($event)">
  </ng-select>
  </div>

</div>
<div  class="row col-md-6" style="margin-top:100px;">
<div class=" col-6">
  <ng-select [items]="districtList" placeholder="city"
  bindLabel="name" 
  bindValue="id" >
  </ng-select>
  </div>
</div>